<div class="mainbg">
  <div class="container" >

<div class=" d-flex justify-content-center">
  <div class="btn btn-warning m-5" *ngIf="status" (click)=" setstatus1()">Recent Chats</div>
  <div class="btn btn-danger m-5" *ngIf="!status" (click)=" setstatus1()">Recent Chats</div>
  <div class="btn btn-warning m-5" *ngIf="!status" (click)="setstatus2()">All Users</div>
  <div class="btn btn-danger m-5" *ngIf="status" (click)="setstatus2()">All Users</div>
  
</div>
<input type="text" name="user" placeholder="Search by username" class="form-control mt-2" [(ngModel)]="searchTerm">

<div *ngIf="status">
  <div class="row">
    <div class="col m-3 row-cols-1 row-cols-md-5 " *ngFor="let user of userslist | search :searchTerm">
      <div class="card 1">
        <div class="card_image"> <img src={{user.profileImage}} width="100%" alt="No profile pic.."/> </div>
        <div class="card_title title-white">
        </div>
      </div>
      <button style="color: black;background-color:#fff500;font-family: 'Cinzel Decorative', cursive;" class="btn d-block mx-auto w-75"(click)="fun(user.username)">Message...{{user.username}}</button>
  </div>
</div>
</div>
<div *ngIf="!status">
  <div class="row">
    <div class="col m-3 row-cols-1 row-cols-md-5 " *ngFor="let user of chattedusers | search :searchTerm">
      <div class="card 1">
        <div class="card_image"> <img src={{user.profileImage}} width="100%" alt="No profile pic.."/> </div>
        <div class="card_title title-white">
        </div>
      </div>
      <button style="color: black;font-weight: bold;font-size: large;background-color:#fff500;font-family: 'Zen Tokyo Zoo', cursive;" class="btn d-block mx-auto w-75"(click)="fun(user.username)">Message...{{user.username}}</button>
  </div>
</div>
</div>
